/*GLOBAL CSS*/
html {
    user-select:none;
    -moz-user-select:none;
    font-family:Avenir Regular;
    height:100vh;
    background:radial-gradient(white 30%,#a7a7a7);
}
body {
    overflow-x:hidden;
    margin:0px;
}
h1 {
    font-family:Avenir Heavy;
    font-size:60px;
}
h2 {
    font-family:Avenir Heavy;
}
a {
    color:black;
    text-decoration:none;
}
.page_title {
    padding-top:25px;
    padding-left:50px;
}
.loading {
    height:25px;
    width:25px;
    border:20px double pink;
    margin:0 auto;
    margin-top:150px;
    border-image: linear-gradient(#f90, #ffcf00) 20 stretch;
    animation: rotate 1s ease infinite;
    background-color:white;
}
.logo {
    display:block;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:200px;
    width:300px;
    height:300px;
}


/*NAVIGATION*/
.breadcrumbs {
    background:linear-gradient(to right,lightgrey,white);
    display:flex;
    height:10px;
    background-color:white;
    align-items:center;
    width:min-content;
    width:-moz-min-content;
    margin-top:50px;
    margin-left:85px;
}
.breadcrumb {
    background:linear-gradient(lightgrey,white);
    position:absolute;
    height:25px;
    box-shadow:0px 0px 9px #0000004d;
    width:25px;
    float:right;
    margin:0 auto;
    margin-left:0px;
    margin-top:-20px;
    transition:all 0.4s ease;
}
.bc_c {
    margin-top:20px;
    margin-left:75px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.breadcrumb-title {
    position:absolute;
    margin-top:25px;
}
#bch {
    margin-left:-25px;
}
#bch .breadcrumb {
    background:linear-gradient(#f90, #ffcf00);
    position:relative;
    transform: rotate(45deg);
    width:50px;
    height:50px;
    margin-top:-8px;
}
.bc_c #dbc {
    float:none;
    margin:0 auto;
    margin-top:-10px;
}
.bc_c:hover #dbc {
    margin-top:-20px;
}
#bch:hover .breadcrumb {
    height:75px;
    width:75px;
}
.bc_c:hover .breadcrumb {
    height:50px;
    width:50px;
    margin-top:-30px;
}
.back {
    background:url('/.Images/back.svg'), linear-gradient(lightgrey, white);
    height:50px;
    width:50px;
    margin-left:100px;
    box-shadow:0px 0px 9px #0000004d;
    background-repeat:no-repeat;
    transition:all 0.4s ease;
}
.back:hover {
    width:100px;
}
.mobile-bc-tog {
    height:50px;
    width:100%;
    background:linear-gradient(lightgrey,white);
    color:grey;
    text-align:center;
    font-family:Avenir Heavy;
    font-size:30px;
    display:none;
}


/*DIRECTORY BOXES*/
.dir-container {
    font-size:25px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;

}
.dir-box {
    font-family:Avenir Bold;
    display:block;
    text-align:center;
    height:200px;
    width:200px;
    background:linear-gradient(lightgrey 10%, white);
    box-shadow:0px 0px 9px #0000004d;
    color:grey;
    transition:all 0.4s ease;
}
.box-container {
    margin-bottom:75px;
    margin-left:5vw;
    margin-right:5vw;
}
.box-container:hover .dir-box {
   box-shadow:0px 0px 9px #f90;
   height:250px;
   width:250px;
   margin-top:-10px;
}
.box-container:hover .box-del {
    opacity:1;
}
.dir-box-icon {
   height:100px;
   width:100px;
   position:relative;
   margin: 0 auto;
   margin-bottom:50px;
}
.box-del {
color:grey;
opacity:0;
float:right;
transition:all 0.4s ease;
margin-top:-5px;
margin-right:5px;
font-size:15px;
padding-bottom:50px;
padding-left:50px;
}
.box-del:hover {
    font-size:30px;
}

/*FILE LIST*/
.file-container {
    margin-left:100px;
    padding-right:35px;
}
.file-item {
    margin-bottom:25px;
    display:block;
    box-shadow:0px 0px 9px #0000004d;
    padding:25px;
    background:linear-gradient(to right, lightgrey -150%, white);
    transition:all 0.4s ease;
}
.item-container:hover .file-item {
    box-shadow:0px 0px 9px #f90;
    padding-top:30px;
    padding-bottom:50px;
    margin-top:-10px;
}
.item-container:hover .item-del{
    opacity:1;
}
.item-del{
    opacity:0;
    display:inline;
    float:right;
    transition:all 0.4s ease;
    margin-right:10px;
    color:grey;
    margin-top:7px;
    padding-bottom:50px;
    padding-left:50px;
}
.item-del:hover{
    font-size:30px;
}
.video-container {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color:black;
    opacity:0;
    pointer-events:none;
    transition:all 0.4s ease;
}
.vid-close {
    color:grey;
    right:0;
    position:absolute;
    font-size:35px;
    margin-right:45px;
    margin-top:25px;
    transition:all 0.4s ease;
    cursor:pointer;
}
.vid-close:hover {
    font-size:50px;
    margin-right:40px;
    margin-top:20px;
}
.video-container-active {
    opacity:1;
    pointer-events:all;
}


/*ADD NEW BUTTON*/
.button-container {
    display:flex;
}
.new-button, .dl-button {
    width:75px;
    height:75px;
    box-shadow:0px 0px 9px #0000004d;
    background:linear-gradient(#f90,#ffcf00);
    cursor:pointer;
    position:fixed;
    margin:50px;
    bottom:0;
    right:0;
    transition:all 0.4s ease;
}
.dl-button {
    right:100px;
    width:40px;
    background:linear-gradient(#f90,#ffcf00);
    text-align:center;
    height:40px;
    bottom:17px;
    opacity:1;
}
.dl-button:hover {
    height:50px;
    width:50px;
    right:95px;
    bottom:10px;
    pointer-events:all;
}
.new-button:hover {
    width:90px;
    height:90px;
    margin-right:40px;
    margin-bottom:40px;
}
.new-menu {
    pointer-events:none;
    background-color:white;
    box-shadow:0px 0px 9px #0000004d;
    width:200px;
    height:170px;
    position:fixed;
    margin:50px;
    bottom: 125px;
    right: 0;
    opacity:0;
    transition:all 0.4s ease;
}
.new-menu ul {
    padding:0;
}
.new-menu li {
    cursor:pointer;
    margin: 0 auto;
    text-align:center;
    margin-bottom:10px;
    background-color:#d4d4d4;
    list-style-type:none;
    width:90%;
    padding-top:10px;
    padding-bottom:10px;
    transition:all 0.2s ease;
}
.new-menu li:hover {
    margin-top:-5px;
    padding-top:15px;
    padding-bottom:15px;
}
.nb-active {
    transform: rotate(45deg);
    width:75px !important;
    height:75px !important;
    margin:50px !important;
}
.nb-active-dl {
    opacity:0;
    pointer-events:none;
}
.nm-active {
    opacity:1;
    pointer-events:all;
}

/*Create New Directory Window, Download Media, Upload New Media*/
.dnf-body {
    overflow:hidden;
}
.cnd_container, .um_container, .dnf_container {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:#0006;
    transition:all 0.4s ease;
    opacity:0;
    pointer-events:none;
}
.cnd-active, .um-active, .dnf-active {
    opacity:1;
    pointer-events:auto;
}
.cnd, .um {
    margin:0 auto;
    margin-top:30vh;
    background-color:white;
    box-shadow:0px 0px 9px #0000004d;
    height:300px;
    width:500px;
    padding:25px;
    padding-bottom:50px;
}
.cnd h2, .um h2{
    text-align:center;
}
.cnd h3, .um h3{
    margin-bottom:8px;
}
.dnf {
    background-color:white;
    height:100vh;
    width:100vw;
    text-align:center;
    overflow-y:auto;
}
.dnf h2 {
    padding-top:50px;
}
.dnf h3 {
    text-align:left;
    width:600px;
    margin:0 auto;
    margin-bottom:8px;
}
#dnfc {
    right:20px;
    top:20px;
}
#dn {
    width:600px;
}
.t-chooser {
    display:flex;
    position:absolute;
    float:left;
    margin-top:20px;
    margin-left:20px;
}
.t-choice {
    width:50px;
    height:50px;
    background:linear-gradient(lightgrey -150%, white);
    background-size:contain;
    background-repeat:no-repeat;
    background-position-y:center;
    box-shadow:0px 0px 9px #0000004d;
    cursor:pointer;
    margin-right:25px;
    transition:all 0.4s ease;
}
.t-choice:hover {
    width:70px;
    height:70px;
    margin-left:-10px;
    margin-top:-10px;
}
.t-choice-active {
    box-shadow:0px 0px 9px #f90;
}
#tc1 {
    background-image:url("/.Images/tpb.png");
}
#tc2 {
    background-image:url("/.Images/btdb.png");
}
.result {
    width:80%;
    height:auto;
    background-color:white;
    box-shadow:0px 0px 9px #0000004d;
    margin:0 auto;
    margin-top:50px;
    padding:25px;
    text-align:left;
    cursor:pointer;
    transition:all 0.4s ease;
}
.result:hover {
    padding-top:40px;
    padding-bottom:40px;
    box-shadow:0px 0px 9px #f90;
}
.close{
    transition:all 0.4s ease;
    color:black;
    padding-left:50px;
    padding-bottom:50px;
    margin-top:-14px;
    margin-left:450px;
    position:absolute;
    cursor:pointer;
}
.close:hover {
    font-size:30px;
    margin-left:445px;
    margin-top:-20px
}
.selectbox select {
    border:none;
    background-color:#d4d4d4;
    width:99%;
    padding:10px;
    margin-bottom:30px;
}
.fsubmit {
    padding:10px;
    background-color:#d4d4d4;
    margin-bottom:30px;
}
input[type=file] {
    border:none;
}
input[type=text] {
    background-color:#d4d4d4;
    width:95%;
    padding:10px;
    border:none;
}
input[type=submit], button {
    font-family:Avenir Bold;
    cursor:pointer;
    box-shadow:0px 0px 9px #0000004d;
    background:linear-gradient(#f90,#ffcf00);
    color:white;
    display:block;
    margin:0 auto;
    width:100px;
    height:50px;
    border:none;
    transition:all 0.4s ease;
}
input[type=submit]:hover, button:hover {
    margin-top:-2px;
    width:110px;
    height:60px;
}
button {
    margin:0 auto;
    margin-top:30px;
}
button:hover {
    margin-top:28px;
}
.notify {
    color:white;
    box-shadow:0px 0px 9px #0000004d;
    animation: n_in 0.6s ease forwards, n_in 0.6s ease 5s reverse forwards;
    float:right;
    background:linear-gradient(#f90, #ffcf00);
    padding:20px;
    padding-right:100px;
    margin-top:-24px;
    margin-right:-500px;
}


/*DASHBOARD PAGE*/
.partial-listing {
    margin-bottom:50px;
    margin-left:150px;
    background-color:white;
    width:80%;
    height:20px;
    padding:35px;
    padding-left:40px;
    box-shadow:0px 0px 9px #0000004d;
    transition:all 0.4s ease;
}
.partial-listing .loading {
    height:10px;
    width:10px;
    border:10px double pink;
    margin:0;
    border-image: linear-gradient(#f90, #ffcf00) 10 stretch;
    float:right;
    margin-right:10px;
    margin-top:-5px;
}
.partial-listing .close {
   float:right;
   position:relative;
   margin-left:0px;
   margin-right:-20px;
   margin-top:-25px;
}
.partial-listing .close:hover {
    margin-top:-30px;
    margin-right:-25px;
}
.canceled {
    opacity:0;
}


/*MOBILE STYLES*/
@media all and (max-width:760px){
    .logo {
        width:190px;
        margin-bottom:50px;
        margin-top:0px;
    }
    .page_title {
        padding-top:50px;
    }
    .file-container{
        margin-left:0px;
    }
    h1 {
        margin-left:-40px;
    }
    .box-del {
        padding:10px;
        opacity:1;
    }
    .cnd-container, .cnd, .um_container, .um {
        width:100%;
        padding:0;
        padding-top:20px;
        padding-bottom:50px;
    }
    .close {
        position:relative;
        float:right;
        padding-bottom:0px;
        margin-right:5px;
    }
    form, #dn {
        width:90%;
        margin:0 auto;
    }
    .dnf h2 {
        margin-top:100px;
    }
    .dnf h3 {
        width:95%;
    }
    .breadcrumbs {
        margin: 0 auto;
        flex-direction:column;
        width:10px;
        height:auto;
        margin-top:-210px;
        transition:all 0.4s ease;
    }
    .bc_c {
        margin-left:0px;
        margin-top:60px;

    }
    .breadcrumb-title {
        margin-top:-20px;
        margin-left:60px;
    }
    #bch .breadcrumb {
        margin-top:-75px;
        margin-left:25px;
    }
    .back {
        margin-top:50px;
        margin-left:0px;
    }
    .mobile-bc-tog {
        display:inherit;
        opacity:1;
        transition:all 0.4s ease;
    }
    .mobile-bc-tog:hover {
        font-size:35px;
    }
    .mbt-active {
        margin-top:-50px;
    }
    .mbc-active {
        margin-top:50px !important;
    }
}

@keyframes n_in {
    from {margin-right:-750px;}
    to {margin-right:-50px;}
}
@keyframes rotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@font-face {
    font-family: Avenir Regular;
    src: url(.Fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: Avenir Bold;
    src: url(.Fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
    font-family: Avenir Heavy;
    src: url(.Fonts/AvenirNextLTPro-Heavy.otf);
}
