/*GLOBAL CSS*/
html {
    font-family:Avenir Regular;
    height:100vh;
    background:radial-gradient(white 30%,#a7a7a7);
}
body {
    margin:50px;
}
h1 {
    font-family:Avenir Heavy;
    font-size:60px;
}
h2 {
    font-family:Avenir Heavy;
}
a {
    color:black;
    text-decoration:none;
}


/*NAVIGATION*/
.breadcrumbs {
    display:flex;
    height:10px;
    background-color:white;
    align-items:center;
    width:min-content;
    width:-moz-min-content;
}
.breadcrumb {
    background-color:white;
    height:25px;
    width:25px;
    float:right;
    margin:0 auto;
    transition:all 0.4s ease;
}
.bc_c {
    margin-top:20px;
    margin-left:75px;
    display:flex;
    flex-direction:column;
}
#bch {
    margin-left:-25px;
}
#bch .breadcrumb {
    transform: rotate(45deg);
    width:50px;
    height:50px;
    margin-top:10px;
}
#bch:hover .breadcrumb {
    box-shadow:0px 0px 9px #0000004d;
    height:75px;
    width:75px;
}
.bc_c:hover .breadcrumb {
    box-shadow:0px 0px 9px #0000004d;
    height:50px;
    width:50px;
}
.back {
    background-color:red;
    height:50px;
    width:50px;
    margin-left:100px;
    transition:all 0.4s ease;
}
.back:hover {
    width:100px;
    box-shadow:0px 0px 9px #0000004d;
}
.triangle {
    border-left: 7px solid; 
    border-top: 7px solid;
    border-radius:1px;
    border-color:white;
    height: 20px;
    width: 20px;
    transform: rotate(-45deg);
    margin-left:33%;
    position:relative;
    top:10px;
}


/*DIRECTORY BOXES*/
.dir-container {
    font-size:25px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;

}
.dir-box {
    font-family:Avenir Bold;
    display:block;
    text-align:center;
    height:200px;
    width:200px;
    background-color:white;
    box-shadow:0px 0px 9px #0000004d;
    color:grey;
    transition:all 0.4s ease;
}
.box-container {
    margin-bottom:75px;
    margin-left:5vw;
    margin-right:5vw;
}
.box-container:hover .dir-box {
   height:250px;
   width:250px;
   margin-top:-10px;
}
.box-container:hover .box-del {
    opacity:1;
}
.dir-box-icon {
   height:100px;
   width:100px;
   position:relative;
   margin: 0 auto;
   margin-bottom:50px;
}
.box-del {
opacity:0;
float:right;
transition:all 0.4s ease;
margin-top:-5px;
margin-right:5px;
font-size:15px;
padding-bottom:50px;
padding-left:50px;
}
.box-del:hover {
    font-size:30px;
}

/*FILE LIST*/
.file-container {
    margin-left:100px;
    padding-right:35px;
}
.file-item {
    margin-bottom:25px;
    display:block;
    box-shadow:0px 0px 9px #0000004d;
    padding:25px;
    background-color:white;
    transition:all 0.4s ease;
}
.item-container:hover .file-item {
    padding-top:30px;
    padding-bottom:50px;
    margin-top:-10px;
}
.item-container:hover .item-del{
    opacity:1;
}
.item-del{
    opacity:0;
    display:inline;
    float:right;
    transition:all 0.4s ease;
    margin-right:10px;
    margin-top:7px;
    padding-bottom:50px;
    padding-left:50px;
}
.item-del:hover{
    font-size:30px;
}


/*ADD NEW BUTTON*/
.new-button {
    width:75px;
    height:75px;
    background-color:red;
    cursor:pointer;
    position:fixed;
    margin:50px;
    bottom:0;
    right:0;
    transition:all 0.4s ease;
}
.new-button:hover {
    width:90px;
    height:90px;
    margin-right:40px;
    margin-bottom:40px;
}
.new-menu {
    pointer-events:none;
    background-color:white;
    box-shadow:0px 0px 9px #0000004d;
    width:200px;
    height:120px;
    position:fixed;
    margin:50px;
    bottom: 125px;
    right: 0;
    opacity:0;
    transition:all 0.4s ease;
}
.new-menu ul {
    padding:0;
}
.new-menu li {
    cursor:pointer;
    margin: 0 auto;
    text-align:center;
    margin-bottom:10px;
    background-color:#d4d4d4;
    list-style-type:none;
    width:90%;
    padding-top:10px;
    padding-bottom:10px;
    transition:all 0.2s ease;
}
.new-menu li:hover {
    margin-top:-5px;
    padding-top:15px;
    padding-bottom:15px;
}
.nb-active {
    transform: rotate(45deg);
    width:75px !important;
    height:75px !important;
    margin:50px !important;
}
.nm-active {
    opacity:1;
    pointer-events:all;
}

/*Create New Directory Window, Upload New Media*/
.cnd_container, .um_container {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:#0006;
    transition:all 0.4s ease;
    opacity:0;
    pointer-events:none;
}
.cnd-active, .um-active {
    opacity:1;
    pointer-events:auto;
}
.cnd, .um {
    margin:0 auto;
    margin-top:30vh;
    background-color:white;
    box-shadow:0px 0px 9px #0000004d;
    height:300px;
    width:500px;
    padding:25px;
    padding-bottom:50px;
}
.cnd h2, .um h2 {
    text-align:center;
}
.cnd h3, .um h3 {
    margin-bottom:8px;
}
.selectbox select {
    border:none;
    background-color:#d4d4d4;
    width:99%;
    padding:10px;
    margin-bottom:30px;
}
.fsubmit {
    padding:10px;
    background-color:#d4d4d4;
    margin-bottom:30px;
}
input[type=file] {
    border:none;
}
input[type=text] {
    background-color:#d4d4d4;
    width:95%;
    padding:10px;
    border:none;
}
input[type=submit] {
    background-color:#d4d4d4;
    display:block;
    margin:0 auto;
    width:100px;
    height:50px;
    border:none;
    transition:all 0.4s ease;
}
input[type=submit]:hover {
    margin-top:-2px;
    width:110px;
    height:60px;
}


@font-face {
    font-family: Avenir Regular;
    src: url(.Fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: Avenir Bold;
    src: url(.Fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
    font-family: Avenir Heavy;
    src: url(.Fonts/AvenirNextLTPro-Heavy.otf);
}
