/*GLOBAL CSS*/
html {
    user-drag:none;
    user-select:none;
    -moz-user-select:none;
    font-family:Avenir Regular;
    height:100vh;
    background:radial-gradient(white 30%,#a7a7a7);
}
body {
    overflow-x:hidden;
    margin:0px;
}
h1 {
    font-family:Avenir Heavy;
    font-size:60px;
}
h2 {
    font-family:Avenir Heavy;
}
a {
    color:black;
    text-decoration:none;
}
.page_title {
    padding-top:25px;
    padding-left:50px;
}
.loading {
    height:25px;
    width:25px;
    border:20px double pink;
    margin:0 auto;
    margin-top:150px;
    border-image: linear-gradient(#f90, #ffcf00) 20 stretch;
    animation: rotate 1s ease infinite;
    background-color:white;
}
.logo {
    display:block;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:15vh;
    width:300px;
    height:300px;
}
#ds1,#ds2 {
    display:inline;
    font-family:Avenir Heavy;
    font-size:40px;
    position:relative;
    top:80px;
    margin-left:50px;
}
#ds2 {
    font-family:Avenir Bold;
    font-size:30px;
    margin:0px;
}
.search-form {
    width:100%;
    background-color:white;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:-177px;
    transition:all 0.4s ease;
}
.search-form input[type=text] {
    font-size:20px;
    padding:20px;
    width:30%;
}
.search-form-active {
    margin-top:0px !important;
}
.search-button {
    position:relative;
    width:40px;
    height:40px;
    background-image:url('/.Images/search.svg');
    float:right;
    top:75px;
    margin-right:75px;
    cursor:pointer;
}
.box-container.ui-draggable-dragging{
    z-index:99;
}
.hover-active {
    height:100px !important;
    width:100px !important;
    line-height:150px !important;
    margin-top:40px !important;
    font-size:10px;
}


/*NAVIGATION*/
.breadcrumbs {
    background:linear-gradient(to right,lightgrey,white);
    display:flex;
    height:10px;
    background-color:white;
    align-items:center;
    width:min-content;
    width:-moz-min-content;
    margin-top:50px;
    margin-left:85px;
}
.breadcrumb {
    background:linear-gradient(lightgrey,white);
    position:absolute;
    height:25px;
    box-shadow:0px 0px 9px rgba(0,0,0,.3);
    width:25px;
    float:right;
    margin:0 auto;
    margin-left:0px;
    margin-top:-20px;
    transition:all 0.4s ease;
}
.bc_c {
    margin-top:20px;
    margin-left:75px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.breadcrumb-title {
    position:absolute;
    margin-top:25px;
}
#bch {
    margin-left:-25px;
}
#bch .breadcrumb {
    background:linear-gradient(#f90, #ffcf00);
    position:relative;
    transform: rotate(45deg);
    width:50px;
    height:50px;
    margin-top:-8px;
}
.bc_c #dbc {
    float:none;
    margin:0 auto;
    margin-top:20px;
}
.bc_c:hover #dbc {
    margin-top:0px;
}
#bch:hover .breadcrumb {
    height:75px;
    width:75px;
}
.bc_c:hover .breadcrumb {
    height:50px;
    width:50px;
    margin-top:-30px;
}
.back {
    background:linear-gradient(lightgrey, white);
    height:50px;
    width:50px;
    margin-left:50px;
    box-shadow:0px 0px 9px rgba(0,0,0,.3);
    background-repeat:no-repeat;
    transition:all 0.4s ease;
    text-align:center;
}
.back img {
    height:40px;
    margin-top:4px;
}
.back:hover {
    width:100px;
}
.mobile-bc-tog {
    height:50px;
    width:100%;
    background:linear-gradient(#f90,#ffcf00);
    color:white;
    text-align:center;
    font-family:Avenir Heavy;
    font-size:30px;
    display:none;
}


/*DIRECTORY BOXES*/
.dir-container {
    font-size:25px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;

}
.dir-box{
    font-family:Avenir Bold;
    display:block;
    text-align:center;
    height:200px;
    width:200px;
    background:linear-gradient(lightgrey 10%, white);
    box-shadow:0px 0px 9px rgba(0,0,0,.3);
    color:grey;
    transition:all 0.4s ease;
    line-height:300px;
    white-space:nowrap;
}
#dbmo {
    background:url("/.Images/film.svg"),linear-gradient(lightgrey 10%, white);
}
#dbtv {
    background:url("/.Images/tv.svg"),linear-gradient(lightgrey 10%, white);
}
#dbmu {
    background:url("/.Images/music.svg"),linear-gradient(lightgrey 10%, white);
}
#dbmo, #dbtv, #dbmu {
    background-repeat:no-repeat;
    background-size:40% 40%, 100% 100%;
    background-position:50% 20%;
}
.box-container {
    position:relative;
    margin-bottom:75px;
    margin-left:5vw;
    margin-right:5vw;
    z-index:0;
}
.box-container:hover .dir-box {
   box-shadow:0px 0px 9px #f90;
   height:250px;
   width:250px;
   margin-top:-10px;
}
.box-container:hover .box-del {
    opacity:1;
}
.box-del {
color:grey;
opacity:0;
transition:all 0.4s ease;
font-size:15px;
padding-bottom:25px;
padding-left:25px;
position:absolute;
right:20px;
cursor:pointer;
}
.box-del:hover {
    font-size:30px;
}

/*FILE LIST*/
.file-container {
    margin-left:100px;
    padding-right:35px;
    margin-bottom:150px;
}
.file-item {
    margin-bottom:25px;
    display:block;
    box-shadow:0px 0px 9px rgba(0,0,0,.3);
    padding:25px;
    background:linear-gradient(to right, lightgrey -150%, white);
    cursor:pointer;
    min-height:1px;
    transition:all 0.4s ease;
}
.file-item p {
    margin: 0;
    transition:all 0.4s ease;
}
.file-item-active .fip {
    font-size:30px;
    font-family:Avenir Heavy;
}
.file-item-active {
    min-height:300px;
}
.item-container:hover .file-item {
    box-shadow:0px 0px 9px #f90;
    padding-top:30px;
    padding-bottom:50px;
    margin-top:-10px;
}
.item-container:hover .item-del, .item-container:hover .item-ren{
    opacity:1;
}
.item-del, .item-ren{
    opacity:0;
    display:inline;
    float:right;
    transition:all 0.4s ease;
    margin-right:10px;
    color:grey;
    margin-top:7px;
    padding-bottom:50px;
    padding-left:10px;
    cursor:pointer;
}
.item-del:hover, .item-ren:hover{
    font-size:30px;
}
.details {
    opacity:0;
    height:300px;
    margin-top:20px;
    display:flex;
    transition:all 0.4s ease;
    animation:fade_in 1s ease forwards;
}
.details img {
    width:230px;
}
.details .desc {
   margin-left: 30px;
}
.desc p {
    opacity: 0;
    animation:fade_in 1s ease forwards;
}
.video-container {
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color:black;
    opacity:0;
    pointer-events:none;
    transition:all 0.4s ease;
}
.vid-close {
    font-family:Avenir Heavy;
    color:grey;
    right:0;
    position:absolute;
    font-size:35px;
    margin-right:45px;
    margin-top:25px;
    transition:all 0.4s ease;
    cursor:pointer;
    z-index:99;
}
.vid-close:hover {
    font-size:50px;
    margin-right:40px;
    margin-top:20px;
}
.video-container-active {
    opacity:1;
    pointer-events:all;
}
.letter-head {
    font-size:30px;
    font-family: Avenir Bold;
    margin-bottom:10px;
    transition:font-size 0.4s ease;
    width:100%;
    cursor:pointer;
    display:none;
}
.letter-head-active {
    display:inherit;
}
.letter-head:hover {
    font-size:35px;
}
.letter-head-tog {
    float:right;
    cursor:pointer;
    margin-top:-30px;
}
.letter-chooser {
    display:flex;
    font-size:30px;
    justify-content:space-between;
    width:100%;
}
.letter {
    transition:all 0.4s ease;
}
.letter:hover {
    font-size:40px;
    margin-top:-5px;
}


/*ADD NEW BUTTON*/
.button-container {
    display:flex;
}
.new-button, .dl-button, .st-button{
    width:75px;
    height:75px;
    box-shadow:0px 0px 9px rgba(0,0,0,0.3);
    background:linear-gradient(#f90,#ffcf00);
    cursor:pointer;
    position:fixed;
    margin:50px;
    bottom:0;
    right:0;
    transition:all 0.4s ease;
}
.dl-button, .st-button{
    right:100px;
    width:40px;
    background:linear-gradient(#f90,#ffcf00);
    text-align:center;
    height:40px;
    bottom:17px;
    opacity:1;
    pointer-events:all;
}
.dl-button:hover, .st-button:hover{
    height:50px;
    width:50px;
    right:95px;
    bottom:10px;
    pointer-events:all;
}
.st-button {
    right:165px;
}
.st-button:hover {
    right:160px;
}
.sm-buttons-in {
    opacity:0;
    right:25px;
}
#sm-hover {
    height:150px;
    width:300px;
    right:0px;
    position:fixed;
    bottom:10px;
}
.new-button:hover {
    width:90px;
    height:90px;
    margin-right:40px;
    margin-bottom:40px;
}
.new-menu {
    pointer-events:none;
    background-color:white;
    box-shadow:0px 0px 9px rgba(0,0,0,0.3);
    width:200px;
    height:170px;
    position:fixed;
    margin:50px;
    bottom: 125px;
    right: 0;
    opacity:0;
    transition:all 0.4s ease;
}
.new-menu ul {
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
}
.new-menu li {
    cursor:pointer;
    margin: 0 auto;
    text-align:center;
    list-style-type:none;
    width:100%;
    padding-top:18px;
    padding-bottom:18px;
    transition:all 0.2s ease;
}
.new-menu li:hover {
    box-shadow:0px 0px 9px rgba(0,0,0,.3);
}
.nb-active {
    transform: rotate(45deg);
    width:75px !important;
    height:75px !important;
    margin:50px !important;
}
.nb-active-dl {
    opacity:0;
    pointer-events:none;
}
.nm-active {
    opacity:1;
    pointer-events:all;
}

/*Create New Directory Window, Download Media, Upload New Media*/
.dnf-body, .snf-body {
    overflow:hidden;
}
.cnd_container, .um_container, .dnf_container, .snf_container, .dd_container, .ren_container{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.4);
    transition:all 0.4s ease;
    opacity:0;
    pointer-events:none;
}
.cnd-active, .um-active, .dnf-active, .dd-active, .ren-active, .snf-active{
    opacity:1;
    pointer-events:auto;
}
.cnd, .um, .dd, .ren {
    margin:0 auto;
    margin-top:30vh;
    background-color:white;
    box-shadow:0px 0px 9px rgba(0,0,0,0.3);
    height:300px;
    width:500px;
    padding:25px;
    padding-bottom:50px;
}
.cnd, .dd, .ren {
    height:200px;
    margin-top:40vh;
}
.cnd h2, .um h2, .dd h2, .ren h2{
    text-align:center;
}
.cnd h3, .um h3, .dd h3, .ren h3{
    margin-bottom:8px;
}
#dds_container {
    text-align:center;
}
.dd_container button {
    display:inline-block;
}
#dd_submit {
    display:inline-block;
}
#ddc {
    background:linear-gradient(lightgrey, white);
    color:grey;
}
.dnf, .snf{
    background-color:white;
    height:100vh;
    width:100vw;
    text-align:center;
    overflow-y:auto;
}
.dnf h2, .snf h2{
    padding-top:50px;
}
.dnf h3, .snf h3{
    text-align:left;
    width:600px;
    margin:0 auto;
    margin-bottom:8px;
}
#dnfc, #snfc{
    right:20px;
    top:20px;
}
#dn, #sn{
    width:600px;
}
.t-chooser, .s-chooser{
    display:flex;
    position:absolute;
    float:left;
    margin-top:20px;
    margin-left:20px;
}
.t-choice, .s-choice{
    width:35px;
    height:35px;
    background:linear-gradient(lightgrey -150%, white);
    background-size:contain;
    background-repeat:no-repeat;
    background-position-y:center;
    box-shadow:0px 0px 9px rgba(0,0,0,0.3);
    cursor:pointer;
    margin-right:15px;
    transition:all 0.4s ease;
}
.t-choice:hover, .s-choice:hover{
    width:50px;
    height:50px;
    margin-left:-5px;
    margin-top:-10px;
}
.t-choice-active, .t2-choice-active, .s-choice-active, .s2-choice-active{
    box-shadow:0px 0px 9px #f90;
}
#tc1, #sc1{
    background-image:url("/.Images/tpb.png");
}
#tc2, #sc2{
    background-image:url("/.Images/btdb.png");
}
.result {
    width:80%;
    height:auto;
    background-color:white;
    box-shadow:0px 0px 9px rgba(0,0,0,0.3);
    margin:0 auto;
    margin-top:50px;
    padding:25px;
    text-align:left;
    cursor:pointer;
    transition:all 0.4s ease;
}
.result:hover {
    padding-top:40px;
    padding-bottom:40px;
    box-shadow:0px 0px 9px #f90;
}
.close{
    transition:all 0.4s ease;
    color:black;
    padding-left:50px;
    padding-bottom:50px;
    margin-top:-14px;
    margin-left:450px;
    position:absolute;
    cursor:pointer;
}
.close:hover {
    font-size:30px;
    margin-left:445px;
    margin-top:-20px
}
.selectbox select {
    border:none;
    background-color:#d4d4d4;
    width:99%;
    padding:10px;
    margin-bottom:30px;
}
.fsubmit {
    padding:10px;
    background-color:#d4d4d4;
    margin-bottom:30px;
}
input[type=file] {
    border:none;
}
input[type=text] {
    background-color:#d4d4d4;
    width:95%;
    padding:10px;
    border:none;
}
input[type=submit], button {
    font-family:Avenir Bold;
    cursor:pointer;
    box-shadow:0px 0px 9px rgba(0,0,0,0.3);
    background:linear-gradient(#f90,#ffcf00);
    color:white;
    display:block;
    margin:0 auto;
    width:100px;
    height:50px;
    border:none;
    transition:all 0.4s ease;
}
input[type=submit]:hover, button:hover {
    margin-top:-2px;
    width:110px;
    height:60px;
}
button {
    margin:0 auto;
    margin-top:30px;
}
button:hover {
    margin-top:28px;
}
.notify {
    color:white;
    box-shadow:0px 0px 9px rgba(0,0,0,0.3);
    animation: n_in 0.6s ease forwards, n_in 0.6s ease 5s reverse forwards;
    float:right;
    background:linear-gradient(#f90, #ffcf00);
    padding:20px;
    padding-right:100px;
    margin-top:-24px;
    margin-right:-500px;
}


/*DASHBOARD PAGE*/
#dl_container {
    width:90%;
    margin:0 auto;
}
.partial-listing {
    margin-bottom:50px;
    margin-left:150px;
    background-color:white;
    width:80%;
    height:20px;
    padding:35px;
    padding-left:40px;
    box-shadow:0px 0px 9px rgba(0,0,0,0.3);
    transition:all 0.4s ease;
}
.partial-listing .loading {
    height:10px;
    width:10px;
    border:10px double pink;
    margin:0;
    border-image: linear-gradient(#f90, #ffcf00) 10 stretch;
    float:right;
    margin-right:10px;
    margin-top:-5px;
}
.partial-listing .close {
   float:right;
   position:relative;
   margin-left:0px;
   margin-right:-20px;
   margin-top:-25px;
}
.partial-listing .close:hover {
    margin-top:-30px;
    margin-right:-25px;
}
.canceled {
    opacity:0;
}


/*MOBILE STYLES*/
@media all and (max-width:760px){
    .logo {
        width:190px;
        margin-bottom:50px;
        margin-top:0px;
    }
    .page_title {
        padding-top:50px;
    }
    .file-container{
        margin-left:0px;
        padding:0;
    }
    h1 {
        font-size:30px;
        text-align:center;
        margin-left:-40px;
        margin-top:50px;
    }
    .box-del {
        right:5px;
        padding:10px;
        opacity:1;
    }
    .item-del, .item-ren {
        opacity:1;
    }
    .cnd-container, .cnd, .um_container, .um, .dd-container, .dd, .ren_container, .ren {
        width:100%;
        padding:0;
        padding-top:20px;
        padding-bottom:50px;
    }
    .close {
        position:relative;
        float:right;
        padding-bottom:0px;
        margin-right:5px;
    }
    form, #dn {
        width:90%;
        margin:0 auto;
    }
    .dnf h2 {
        margin-top:100px;
    }
    .dnf h3 {
        width:95%;
    }
    .breadcrumbs {
        position:relative;
        margin: 0 auto;
        flex-direction:column;
        width:10px;
        height:auto;
        margin-top:-1000px;
        transition:all 0.4s ease;
        opacity:0;
    }
    .bc_c {
        margin-left:0px !important;
        margin-right:0px !important;
        margin-top:60px;
    }
    .breadcrumb-title {
        margin-top:-20px;
        margin-left:60px;
    }
    #bch .breadcrumb {
        margin-top:-75px;
    }
    .back {
        margin-top:50px;
        margin-left:0px;
    }
    .mobile-bc-tog {
        display:inherit;
        opacity:1;
        transition:all 0.4s ease;
    }
    .mobile-bc-tog:hover {
        font-size:35px;
    }
    .mbt-active {
        margin-top:-50px;
    }
    .mbc-active {
        margin-top:50px !important;
        opacity:1;
    }
    #ds1,#ds2 {
        top:25px;
        text-align:center;
        font-size:20px;
        margin:0 auto;
        display:block;
    }
    #ds2 {
        font-size:10px;
    }
    .item-container {
        margin: 0 auto;
        width:90%;
    }
    .notify {
        float:none;
        padding:0;
        padding-top:25px;
        padding-bottom:25px;
        margin:0;
        text-align:center;
        position:fixed;
        bottom:-100px;
        width:100%;
        animation: n_in_m 0.6s ease forwards, n_in_m 0.6s ease 5s reverse forwards;
    }
    .bc_c #dbc {
        margin-top:-20px;
    }
    .bc_c:hover #dbc {
        margin-top:-40px;
    }
    .partial-listing {
        margin-left:0px;
        padding:0px;
        padding:35px;
        width:70%;
    }
    .letter-head {
        width:90%;
        margin:0 auto;
        font-size:20px;
    }
    .letter-chooser {
        font-size:20px;
        flex-wrap:wrap;
    }
    .letter {
        padding-right:5px;
    }
    .letter:hover {
        font-size:25px;
    }
    .letter-head-tog {
        margin-right:35px;
    }
    .search-button {
        position:absolute;
        width:30px;
        height:30px;
        top:30px;
        right:-45px;
        opacity:1;
        transition:opacity 0.4s ease;
    }
    .search-button-m-active {
        opacity:0;
    }
    .search-form {
        margin-top:-177px;
    }
    .search-form input[type=text] {
        padding:15px;
        width:70%;
    }
}

@keyframes n_in {
    from {margin-right:-750px;}
    to {margin-right:-50px;}
}
@keyframes n_in_m {
    from {bottom:-100px;}
    to {bottom:0px;}
}
@keyframes rotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@keyframes fade_in {
    from {opacity:0;}
    to {opacity:1;}
}
@font-face {
    font-family: Avenir Regular;
    src: url(.Fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: Avenir Bold;
    src: url(.Fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
    font-family: Avenir Heavy;
    src: url(.Fonts/AvenirNextLTPro-Heavy.otf);
}
